* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 1.1rem;
  background: #000;
}

.container {
  background: #f4f4f4;
  width: 500px;
  margin: 5rem auto;
  padding: 3rem 2rem;
  border-radius: 30px;
}

.container h1 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  border-bottom: 1px solid #8b8b8b;
}

.buttons-container {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 30px;
}

.btn:hover {
  background: #e9e9e9;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
